.filterLabel {
  font-size: 18px;
  font-weight: 600;
  margin-right: 10px;
}

.filtersDropdown {
  padding: 5px 10px;
  border: none;
  font-size: 16px;
  background-color: #fdbf0f;
  border-radius: 10px;
  width: 220px;
  text-align: center;
}

@media (max-width: 479px) {
  .filtersDropdown {
    width: 100px;
    padding: 4px 8px;
  }
}
